.contact {
  padding-top: 3em;

  .item-container-first {
    padding-top: 4em;
  }

  &__image {
    background-image: url(/img/contact.jpg);
    @include imageheader;
    width: 100%;
    margin: 0 auto;
    border-radius: 0em 0em 2em 2em;
  }

  .flex {
    @extend .container-flex;
    align-items: flex-start;
    flex-direction: row;
    grid-gap: 10em;

    @media (max-width: $tablet-width) {
      grid-gap: 3em;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: $tabletPRO-width) {
      grid-gap: 1em;
    }

    @media (max-width: $mobile-width) {
      flex-direction: column;
      grid-gap: 2em;
    }

    .contactform {
      flex: 2;
    }

    .h1 {
      flex: 1;
    }
  }
}
