.contact {
  padding-top: 3em;
  background-color: rgb(255, 255, 255);
}

.contact-box {
  background-image: url(/img/contactform1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 10em;
  padding: 0em 10em;

  @media (max-width: $tablet-width) {
    padding: 0em 5em;
  }

  @media (max-width: $mobileXL-width) {
    padding: 0em 3em;
  }
}

.contact-flex {
  display: flex;
  width: 100%;
  padding: 3em;
  margin: 0 auto;
  flex-direction: column;
  background-color: rgb(255, 255, 255);

  .wrapper {
    padding-bottom: 20vh;
    //width: 100%;
  }

  @media (max-width: $mobileXL-width) {
    padding: 4em 0em; ///
  }

  .h1 {
    flex: 1;
    text-align: center;
  }

  .contactform {
    color: black;
    flex: 1;
    width: 60%;

    @media (max-width: $desktopSmall-width) {
      width: 90%;
    }

    @media (max-width: $tabletPRO-width) {
      width: 100%;
    }

    input,
    textarea {
      background-color: rgb(225, 225, 225);
      border: none;
      padding: 0.5em;
      font-size: 0.9em;
    }

    label {
      display: none;
    }

    &__button {
      background-color: getColour(blue);
      color: rgb(255, 255, 255);
      padding: 1.2em 1.7em;
      border: none;
      border-radius: 1em;
      font-size: 0.9em;

      @media (max-width: $tablet-width) {
        padding: 0.8em 1em;
      }

      @media (max-width: $tabletSmall-width) {
        ////this flex column
        padding: 0.8em 2em;
      }

      &:hover {
        background-color: black;
      }
    }
  }

  .contactinfo {
    text-align: center;
    padding-top: 5em; ///
    color: getColour(blue);
    p {
      line-height: 2.7em; ///
      font-size: 1.5em;
    }
    span {
      margin-left: 1em;
      font-size: 0.7em;
    }
  }
}

.book {
  padding-top: 3em;
}

.book-box {
  @extend .contact-box;
  padding: 0em 3em;

  @media (max-width: $mobileXL-width) {
    padding: 0em 0.7em;
  }
}

.book-flex {
  @extend .contact-flex;
  padding-bottom: 7vh;

  @media (max-width: $tablet-width) {
    padding-bottom: 5vh;
  }

  .contactform {
    width: 100%;

    label {
      display: block;
      text-align: left;
    }
  }
}
