footer {
  padding: 0em;
  margin: 0em;
  width: 100%;
  padding-bottom: 5em;
  background-color: getColour(secondary);
  .container {
    width: 100%;
  }

  .firststrip {
    width: 100%;
    background-color: getColour(primary);
    padding: 1.3em;

    .h2 {
      span {
        background-color: getColour(primary);
      }
    }

    &__icon {
      color: getColour(darkgrey);
      font-size: 3em;
    }

    ul {
      display: flex;
      justify-content: space-between;
      width: 70%;
      text-align: center;
      margin: 0;
      padding: 0;
      @media (max-width: $tablet-width) {
        flex-direction: column;
        line-height: 5vw;
      }
      @media (max-width: $tabletPRO-width) {
        width: 100%;
      }
    }
    li {
      display: inline-block;
      flex: 0 1 auto;
      padding: 7vw 0vw;

      @media (max-width: $tabletPRO-width) {
        width: 100%;
      }

      p {
        @media (max-width: $tabletPRO-width) {
          line-height: 2em;
          margin-top: 1em;
        }

        @media (max-width: $mobile-width) {
          font-size: 0.8em;
        }
      }
    }
  }

  .secondstrip {
    text-align: center;
    color: white;
    line-height: 5em;
    padding: 1.3em;

    p {
      font-style: italic;
    }

    .navbrand {
      color: white;
    }
  }

  .sitemap {
    text-align: center;
    &__link {
      color: white;
      display: block;
      padding: 1em 10em;

      &:hover {
        background-color: getColour(grey);
        color: black;
      }
    }
  }
}
