footer {
  padding: 0em;
  margin: 0em;
  width: 100%;
  //background-color: getColour(secondary);
  .container {
    width: 100%;
  }

  .firststrip {
    margin: 0 auto;
    color: rgb(0, 0, 0);
    background-color: white;

    /*background-color: getColour(primary);*/
    border: 2em solid white;
    border-radius: 3em;
    padding: 1.3em;
    padding-bottom: 4em;

    p {
      font-size: 0.9em;
    }

    .h2 {
      color: rgb(63, 70, 88);
    }

    &__icon {
      color: rgb(66, 66, 66);
      font-size: 2em;
      margin-bottom: 0.6em;

      @media (max-width: $tablet-width) {
        margin-bottom: 0em;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      width: 70%;
      text-align: center;
      margin: 0;
      padding: 0;
      @media (max-width: $tablet-width) {
        flex-direction: column;
        line-height: 3vw;
      }
      @media (max-width: $tabletPRO-width) {
        width: 100%;
      }
    }
    li {
      display: inline-block;
      flex: 0 1 auto;
      padding: 3vw 0vw;

      @media (max-width: $tabletPRO-width) {
        width: 100%;
      }

      @media (max-width: $tablet-width) {
        margin-bottom: 3em;
      }

      p {
        @media (max-width: $tabletPRO-width) {
          line-height: 2em;
          margin-top: 1em;
        }

        @media (max-width: $mobile-width) {
          font-size: 0.8em;
        }
      }
    }
  }

  .secondstrip {
    text-align: center;
    background-color: getColour(secondary);
    color: rgb(255, 248, 248);
    line-height: 5em;
    padding: 3em 1.3em;
    border-radius: 1em 1em 0em 0em;
  }

  .sitemap {
    background-color: getColour(secondary);
    width: 100%;
    padding-bottom: 5em;
    text-align: center;

    &__link {
      width: 50%;
      margin: 0 auto;
      color: rgb(255, 255, 255);
      display: block;
      padding: 1em 0em;

      &:hover {
        font-weight: bold;
        color: white;
      }
    }
  }
}
