.hero {
  background-image: url(/img/frontpicture.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  border-radius: 0em 0em 1em 1em;
  margin: 0 auto;
  padding: 15em 15em;

  @media (max-width: $tabletPRO-width) {
    padding: 15em 7em;
  }

  @media (max-width: $tablet-width) {
    padding: 15em 2em;
  }

  @media (max-width: $mobile-width) {
    padding: 15em 1em;
    outline-offset: -10px;
  }

  .h1 {
    h1 {
      text-align: center;
      font-size: 0.7em;
      color: rgb(255, 255, 255);
    }
    margin-bottom: 1em;
  }
}

////search
.search {
  display: flex;
  justify-content: center; //this one on cards

  &__input {
    width: 90%;
    font-style: italic;

    @media (max-width: $mobile-width) {
      width: 100%;
      margin: 0;
    }
  }

  .searchselect {
    @media (max-width: $mobile-width) {
      width: 110%;
    }
    input {
      height: 2.3em;
      min-height: 2.3em;
    }
  }

  &__icon {
    position: relative;
    border-radius: 1em 1em 1em 0em;
    background: radial-gradient(#000000 2px, #192ae300, #192ae300);
    color: rgb(255, 217, 0);
    bottom: 0.2em;
    font-size: 2.8em;
    align-self: center;

    @media (max-width: $mobile-width) {
      left: -0.5em;
    }

    a {
      color: white;
    }
  }
}

select {
  input {
    height: 10em;
  }
}

/*

  ////search
  .search {
    display: flex;
    justify-content: center; //this one on cards

    &__input {
      width: 90%;
      font-style: italic;
    }
    
    .css-6j8wv5-Input {
        input {
            height: 2.3em;
        }
    }

    &__icon {
      position: relative;
      left: -1.2em;
      bottom: 0.2em;
      font-size: 2.8em;
      align-self: center;

      @media (max-width: $mobile-width) {
        left: -1.1em;
    }
      a {
      color: getColour(accent);
    }
    }
  }


  select {
    input {
    padding: 10em;
}
  }
*/
