//heading one

.h1 {
  font-family: $font-heading-one;
  text-align: center;

  h1 {
    font-size: 1em;

    @media (max-width: $tablet-width) {
      font-size: 0.9em;
      text-align: center;
    }
  }

  &__big-header {
    color: getColour(accent);
  }

  &__smaller-header {
    color: rgb(255, 255, 255);
  }
}

///heading two

.h2 {
  font-family: $font-heading-two;
  padding: 2em 0em;
  margin: 0 auto;
  width: 100%;

  h2 {
    text-align: center;
    line-height: 0.1em;
    margin: 0 auto;
    font-size: 0.9em; //size
    padding-bottom: 1em;
  }

  span {
    background: #fff;
    padding: 0em 0em;

    @media (max-width: $mobile-width) {
      padding: 0 1em;
    }
  }
}

p {
  font-family: $font-primary;
  font-size: 0.9em;
  line-height: 3.7vh;

  @media (max-width: $tabletPRO-width) {
    font-size: 1em;
    line-height: 4.2vh;
  }
}

a {
  font-size: 1em;
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
  }
}

//// navbrand
.navbrand {
  color: getColour(accent);
  font-family: $font-heading-two;
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  padding: 0.5em 1em;
  text-transform: uppercase;

  &:hover {
    color: getColour(blue);
    font-weight: bold;
  }
}
