$font-primary: "roboto", arial;
$font-heading-one: "montserrat", sans-serif;
$font-heading-two: "barlow condensed", sans-serif;
$font-special: "Unica One", cursive;

$desktopSmall-width: 1130px;
$tabletPRO-width: 1030px;
$tablet-width: 768px;
$tabletSmall-width: 688px;
$mobileXL-width: 540px; ///cards
$mobile-width: 414px;

$colours: (
  primary: #e9e9e9,
  ////navbar
  secondary: #2f2f2f,

  //footer, ribbon
  accent: #c6a800,
  //logo lines, dot,
  orange: #ffae5d,

  //book now, buttons
  grey: #888888,
  //icons
  darkgrey: #3e3e3e,
  //navtext
  darkergrey: #454545,

  //text
  blue: #46555c,

  //front buttons, contact us
);

@function getColour($colour) {
  @return map-get($colours, $colour);
}
